<div layout="row" layout-fill >
  <div layout="column" id="sidecol">
    <!--<div lcd  style="width:300px; height:370px; overflow:hidden;" anim-status="lcdStatus"> -->
	    <div layout="column" layout-fill class="fancy-text" ng-if="status=='list'">
      <div layout-padding class="menu-container">
        <h3 class="main-title">P2N graph</h3>

        <div layout="column" ng-repeat="r in recipes" class="menu-item" ng-click="pickRecipe(r)">
  <!--        <h3>{{r.name}}</h3>
          <p>{{r.desc}}</p>
-->
			<md-button
            ng-click="pickRecipe(r)"
            title="{{r.name}}"
            class="md-raised"
          >{{r.name}}</md-button>
        </div>

        <div flex></div>
      </div>
    </div>


    <div layout flex>
      <div layout="column" layout-fill class="command-zone">
        <div class="network-info">
          <span style="font-size: 1.4em">{{filename}}</span>
          <br>
          {{nodesCount}} nodes -
          {{edgesCount}} edges
          <br>
          <em>{{description}}</em>
        </div>
        <div layout="column">
          <md-button
            ng-click="refreshGraph()"
            title="Reload"
            class="md-raised"
          ><md-icon>refresh</md-icon> RELOAD ORIGINAL GRAPH</md-button>
        </div>
        <div layout="column">
          <md-button
            ng-click="downloadOutput()"
            title="Download"
            class="md-raised"
          ><md-icon>save</md-icon> SAVE GEXF</md-button>
        </div>
        <div layout="column">
          <md-button
            ng-click="backToRecipe()"
            title="Edit"
            class="md-raised"
            ng-show="status=='end'"
          ><md-icon>arrow_back</md-icon> Back to parameters</md-button>
        </div>
        <div layout="column">
          <md-button
            ng-click="closeRecipe()"
            title="Back to list"
            class="md-raised"
            ng-show="status=='end' || status=='edit'"
          ><md-icon>menu</md-icon> Pick another process</md-button>
        </div>
		<div ng-show="status=='run'" flex layout="column" layout-align="center center">
        <h3 class="script-title">{{recipe.name}}</h3>
        is being processed<br>
<br><br>
      </div>
        <div flex></div>
      </div>
    </div>
  </div>

  <div layout class="content" flex>
    <div layout="column" layout-fill class="fancy-text" ng-if="status=='list'">
      <div layout-padding class="menu-container">
Choose an action at the left. A good starting point is to analyze graph attributes setted by P2N. Then you will draw or make a partition analysis on the graph using the node attribute you are interested in. 
For instance:
<ul><li>Category is the defaut attribute for 'coloring' the graph. You may be interreted with IPCForce (the number of IPC cumulated by a node)</li>
<li>By defaut Node size is computed by the occurence of the node label in the graph. You can custom the drawing parameters to use the node degree instead.</li>
</ul>

        <div flex></div>
      </div>
    </div>

    <div layout="column" layout-fill class="fancy-text" ng-if="status=='edit'">
      <div layout="row" ng-if="status=='edit'">
        <div layout="column" layout-padding flex>
          <h3 class="script-title">{{recipe.name}}</h3>
          {{recipe.desc}}
        </div>
        <div class="close-recipe">
          <md-button class="md-icon-button" aria-label="Close" ng-click="closeRecipe()">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </div>

      <div class="exec-button-row" ng-show="status=='edit'">
        <md-button
          ng-click="executeScript()"
          title="Execute process"
          class="md-raised"
        ><md-icon>play_arrow</md-icon> Execute process</md-button>
        <span class="shortcut-info">or hit [CTRL] + [ENTER] from the panel</span>
      </div>

      <!-- <div ng-show="status=='run'" flex layout="column" layout-align="center center">
        <h3 class="script-title">{{recipe.name}}</h3>
        is being processed<br><br><br>
      </div> -->

      <div js-editor file="'../../Patent2Net/media/Graph-recipes/recipes/'+recipe.file" remind="remindRecipe" flex ng-if="status=='edit'"></div>
    </div>

    <div layout="column" layout-fill layout-padding ng-if="status=='run' || status=='end'" id="playground">
    </div>

  </div>

</div>

