<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>P2N : Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^1.4.6/dist/tailwind.min.css" rel="stylesheet">

    <style>
        .container2 {
            width: 612px;
        }
        @media screen and (max-width:800px) {
          .container {
            width: calc(100% - 128px);
          }
        }
    </style>
</head>

<body class="bg-orange-100 flex items-center justify-center">

	<!--Nav-->
	<nav class="bg-orange-600 p-2 mt-0 fixed w-full z-10 top-0">
        <div class="container mx-auto flex flex-wrap items-center">
		    <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
				<a class="text-white no-underline hover:text-white hover:no-underline" href="#">
					<span class="text-2xl pl-2"> Patent2Net</span>
				</a>
            </div>
			<div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
				<ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
					<li class="mr-3">
						<a class="inline-block text-orange-200 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/">Home</a>
					</li>
					
					<li class="mr-3">
						<a class="inline-block text-orange-200 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/index">Index</a>
					</li>
					<li class="mr-3">
						<a class="inline-block py-2 px-4 text-white no-underline" href="/form">Requests</a>
					</li>
					<li class="mr-3">
						<a class="inline-block text-orange-200 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="#">link</a>
					</li>
					<li class="mr-3">
						<a class="inline-block text-orange-200 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="#">link</a>
					</li>
				</ul>
			</div>
        </div>
    </nav>

<!--Grid Div : Format the appearance of the page: GONNA CHANGE IT CHECK Tailwind folder in web favorites -->
<div class="grid grid-cols-3 gap-4 mt-10">

	<!--Workdir Container updated by Javascript (todo) -->
	<!-- Goal : flask copy content of dex.js, clean it and integer in div with variable call -->
	<div class=" w-3/6 flex flex-col mt-12 mb-12 bg-white p-5 rounded shadow ">
		<ul>
		<li><a href="DATA/Lentille.html" target="_blank">Lentille</a></li>
		</ul>
				<ul>
		<li><a href="DATA/Lentille.html" target="_blank">Lentille</a></li>
		</ul>
	</div>
	<!--End Workdir Container updated by Javascript (todo) -->
	<!--Main Container-->
	<div class="flex flex-col mt-12 mb-12 bg-white p-8 rounded shadow container2">
    <h1 class="text-lg mb-2 text-gray-900">Patent2Net Request Confirmation Tool</h1>
    <hr>
    <div class="mt-4">
        <p class="text-gray-800 text-sm mb-2 text-justify">Thanks for waiting, your request research for <b>{{ variable }}</b> content is now done.</p>
        <a class="text-sm underline text-blue-700" href="http://localhost:5000/index">You can access to all your Patent Research by clicking here</a>
    </div>
	
	<div class="mt-4">
	<p class="text-gray-800 text-sm mb-2 text-justify">Else, you can do another research <a class="text-sm underline text-blue-700" href="http://localhost:5000/form">by clicking here</a></p>
	


	</div>
	<!--End Main Container-->
	</div>
</body>
</html>
