<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>

    console.log("Opening the SSE connection")
    var source = new EventSource("/listen");
    source.onmessage = function(event) {
        sent_data = JSON.parse(event.data)
        console.log(sent_data)
        var done = true
        for (i in sent_data) {
            console.log(i, sent_data[i])
            
            // data received is in the form : {'0':value, '1':value}
            qi = "#prog_"+i
            $(qi).css('width', sent_data[i]+'%').attr('aria-valuenow', sent_data[i]);
            lqi = qi+"_label"
            $(lqi).text(sent_data[i]+'%');
            if (sent_data[i] < 99)
                done = false
        }
        
        if(done){
            console.log("Closing the SSE connection")
            source.close()
        }
        
    }
    </script>
</head>
<body>
    <h3> A simple Flask application to show multiple progress bars</h3>
    Using <a href="https://getbootstrap.com/docs/4.4/components/progress/"> Bootstrap Progress Bars</a>
{% for bar in range(0,num_bars) %}
    <div class="progress" style="width: 50%; margin: 50px;" >
        {{label [bar]}} <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="prog_{{bar}}">
            <span class="progress-bar-label" id="prog_{{bar}}_label">0%</span>
        </div>
    </div>
{% endfor %}

</div>
</body>
</html>