<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>

    console.log("Opening the SSE connection")
    var source = new EventSource("/listen");
    source.onmessage = function(event) {
        sent_data = JSON.parse(event.data)
        console.log(sent_data)
        var done = true
        var somme = 0
        for (i in sent_data) {
            console.log(i, sent_data[i])
            
            if (sent_data[i].includes("LOG")) {
                qi = "#progLog_"+i
                 const newElement = document.createElement("li");
                 const eventList = document.getElementById("info_"+i);
                 console.log(i)
                 newElement.innerHTML = sent_data[i].replace("LOG", ":") 
                 eventList.appendChild(newElement);
                 var done = false;
}
            else {
            // data received is in the form : {'appli1':value}
                somme = somme + sent_data[i]
                qi = "#prog_"+i
                if (sent_data [i]>90)
                    $(qi).css({background:'green'});
                if (sent_data [i]>99){
                    $(qi).css({background:'green'});
                    $(qi).css('width', '100%').attr('aria-valuenow', 100);
                    $(qi).finish().animate(
                        {
                          width:'100%'
                        },
                        {
                        }
                    )}
                       
                else
                    {
                    $(qi).css('width', sent_data[i]+'%').attr('aria-valuenow', sent_data[i]);
                    }
                lqi = qi+"_label"
                $(lqi).text(sent_data[i]+'%');
                if (somme < 999)
                done = false
        }
        
        if(done){
        
            console.log("Closing the SSE connection")
            source.close()
        }
        
    }
    }
    
    

            
    </script>
<style>
.section {display: flex;}


    .container .progress {
  position: relative;
  float: left;
  border: 1px solid black;
  height: 40px;
  width: 100px;
  padding: 5px;
  margin: 2px;
  line-height: 1.2;
  flex-direction: column;
  
}
    .progress-bar {
  float: left;
  width: 45%;
}
    .right {
  float: right;
  width: 50%;
}
   .container .info {
        background-color: #FF0000;
    
    }
</style>    
</head>
<body>
   <div style="width:512px; margin:24px;">
        <h4 class="mb-2"> Gathering and processing steps as expected</h4>
        <hr class="mb-4"/>

<section id="container" class="column" style="width: 100%;">
{% for bar in range(0,num_bars) %}
   
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 45%" id="prog_{{bar}}">
            <span class="progress-bar-label" id="prog_{{bar}}_label">0%</span> {{label [bar]}} </div>
        

     <div id="info_{{bar}}" class="right" style="width: 53%; margin: 5px; overflow-y:scroll; height:50px;" >
    Hello prog_{{bar}}_label
    
    <br/>
    </div>

    
{% endfor %}

    </section>
  </div>

</body>
</html>
