<div layout="row" layout-fill>
  <div layout="column" id="sidecol">
    <div lcd  style="width:300px; height:70px; overflow:hidden;" anim-status="'off'"></div>
    <div layout="column" layout-padding flex class="upload-background">
      <div
        class="upload-area-container"
        id="uploader"
        ng-paste="handlePaste()"
        ng-click="loadFile()"
        ng-class="dropClass"
        layout-fill
        layout
      >
        <div class="upload-area" layout="column" layout-align="center center">
          <div class="upload-text-main">
            {{anglOpt}}
          </div>
          <div class="upload-text-sub">
            CLICK or DRAG A FILE
          </div>
        </div>
      </div>
    </div>

    <!-- This hidden input is used for loading the files via the dropdown of the nav tabs -->
    <input id="hidden-file-input" type="file" name="hidden-file-input" style="display: none;" onchange="angular.element(this).scope().setFile(this)"/>
  </div>
  
  <div layout="column" layout-padding flex class="fancy-text content">
    <h1 class="main-title">
      Inspired from Graph Recipes from <a href="http://www.medialab.sciences-po.fr/"><img src="../../Patent2Net/media/Graph-recipes/medialab.png"></a>
      <br>
      <span class="subtitle">...based on <a href="https://graphology.github.io/">Graphology</a></span>
    </h1>
    <p>
      Pick and edit a "recipe", or copy-paste it from anywhere.
      <br><br>
      Enjoy the outcome: processed network, image, or anything javascript can produce.
      <br><br>


	  <a href ng-click="loadExample('./GephiFiles/{{request}}_ApplicantsJS.gexf')">Applicant network</a> &emsp; 
	  <a href ng-click="loadExample('./GephiFiles/Families{{request}}_ApplicantsJS.gexf')">Families Applicant network</a> 
      <br>
	  <a href ng-click="loadExample('./GephiFiles/{{request}}_InventorsJS.gexf')">Inventor network</a>  &emsp; 
	  <a href ng-click="loadExample('./GephiFiles/Families{{request}}_InventorsJS.gexf')">Families Inventor network</a> 
      <br>
	  	  <a href ng-click="loadExample('./GephiFiles/{{request}}_ApplicantInventorJS.gexf')">Applicants &amp; Inventors network</a>&emsp;
		  <a href ng-click="loadExample('./GephiFiles/Families{{request}}_ApplicantInventorJS.gexf')">FamiliesApplicants &amp; Inventors network</a>&emsp;

      <br><br>
	  	  <a href ng-click="loadExample('./GephiFiles/{{request}}_LabelApplicantsJS.gexf')">Applicants and patent labels networks</a>&emsp;
		  <a href ng-click="loadExample('./GephiFiles/Families{{request}}_LabelApplicantsJS.gexf')">FamiliesApplicants and patent labels networks</a>&emsp;

      <br>
	  <a href ng-click="loadExample('./GephiFiles/{{request}}_CrossTechJS.gexf')">Technologies networks</a>&emsp;
	  <a href ng-click="loadExample('./GephiFiles/Families{{request}}_CrossTechJS.gexf')">Families Technologies networks</a>&emsp;
      <br>
	  <a href ng-click="loadExample('./GephiFiles/{{request}}_Inventors_CrossTechJS.gexf')">Inventors Technologies (CIB) network</a>&emsp;
      <a href ng-click="loadExample('./GephiFiles/Families{{request}}_Inventors_CrossTechJS.gexf')">Families Inventors Technologies (CIB) network</a>&emsp;
	  <br>
	  <a href ng-click="loadExample('./GephiFiles/{{request}}_Applicants_CrossTechJS.gexf')">Applicants Technologies (CIB) network</a>&emsp;
	  <a href ng-click="loadExample('./GephiFiles/Families{{request}}_Applicants_CrossTechJS.gexf')">Families Applicants Technologies (CIB) network</a>&emsp;
      <br>
	  <br>
	  <a href ng-click="loadExample('./GephiFiles/{{request}}_CitationsJS.gexf')">Citations network</a> &emsp;
	  <a href ng-click="loadExample('./GephiFiles/Families{{request}}_CitationsJS.gexf')">Families Citations network</a> &emsp;
      <br>	  
	  <a href ng-click="loadExample('./GephiFiles/{{request}}_EquivalentsJS.gexf')">Equivalents network</a> &emsp;
	  <a href ng-click="loadExample('./GephiFiles/{{request}}_EquivalentsJS.gexf')">Families Equivalents network</a> &emsp;
      <br>
	  <a href ng-click="loadExample('./GephiFiles/{{request}}_ReferencesJS.gexf')">References network</a> &emsp;
	  <a href ng-click="loadExample('./GephiFiles/{{request}}_ReferencesJS.gexf')">Families References network</a> &emsp;
	  
      <br><br><br>
      Also, some <a href="https://github.com/medialab/graph-recipes/wiki">documentation</a>.
    </p>
   </div>
</div>







