<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Patents images for request: "{{request}}"</title>
    <script charset="utf-8" type="text/javascript" src="../../../Patent2Net/media/jquery.js"></script>
    <script charset="utf-8" type="text/javascript" src="../../../Patent2Net/extensions/MagnificPopup/dist/jquery.magnific-popup.js"></script>
    <script charset="utf-8" type="text/javascript" src="../../../Patent2Net/extensions/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script charset="utf-8" type="text/javascript" src="../../../Patent2Net/media/pouchdb-6.4.3.min.js"></script>
    <script charset="utf-8" type="text/javascript" src="../../../Patent2Net/extensions/Vue/vue.global.prod.js"></script>
    <script charset="utf-8" type="text/javascript" src="../../../Patent2Net/media/p2ngallery.js"></script>

    <link href="https://unpkg.com/tailwindcss@^1.4.6/dist/tailwind.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="../../../Patent2Net/extensions/MagnificPopup/dist/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../../../Patent2Net/extensions/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../Patent2Net/media/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../../../Patent2Net/media/p2ngallery.css">
</head>

<body class="bg-gray-100">

    <header class="bg-white py-10">
        <section class="container">
            <h1>Patent Request: </h1>"{{request}}"

        </section>
    </header>

    <div id="galleryApp">
        {% raw %}
        <nav class="navbar navbar-expand navbar-dark bg-indigo-600">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>

                <div class="collapse navbar-collapse" id="navbarsExample02">
                    <ul class="navbar-nav my-2 my-md-0">
                        <li class="nav-item">
                            <a class="nav-link" @click="prevPage" href="#">&lt;</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline white-text">
                                {{page}} of {{totalPages}} (total {{total}} images). Page Size: &nbsp;
                                <select class="form-control" v-model="page_size" v-on:change="changePage">
                                    <option>12</option>
                                    <option>24</option>
                                    <option>48</option>
                                    <option>96</option>
                                    <option>192</option>
                                    </select>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @click="nextPage" href="#">&gt;</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="container gallery my-10">
            <div class="popup-gallery grid grid-cols-3 md:grid-cols-4 gap-4">
                <div class="bg-white p-8 rounded shadow relative" v-for="img in images">
                    <a :href="img.orig" :title="img.label" :data-tiff="img.tiff" :data-code="img.code">
                        <img :src="img.thumb" width="128" height="128" class="mx-auto">
                        <p class="absolute bottom-0 left-0 right-0 mx-auto text-center">{{img.code}}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endraw %}
        
    </div>

    <footer class="container">
        <a href="https://p2n-v3.readthedocs.io/en/master/">Patent2net documentation</a>
    </footer>

    <script>
        var patents = {{json}};
    </script>

</body>

</html>
