<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<head>
<script> var __basePath = ''; </script>
<style> html, body { margin: 0; padding: 0; height: 100%; } </style>
<link href="https://unpkg.com/tabulator-tables@4.3.0/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.3.0/dist/js/tabulator.min.js"></script>
<script type="text/javascript" src="PatentContents/Trizifiier/DataFormat/caraTrizWikisyntax.json"></script>




  </head>
<body style="background-color: #ccbaba" >
  <H1 style="text-align: center"   >Automatic Classification for Universe of OPS Patent Request: Syntax analysis method for </h1>"{{request}}"</H1>

<div id="example-table"></div>

<h6 style="text-align: center" ><p> 
     Credits: <a href="https://github.com/patent2net" target="_blank">Patent2Net</a> 2013-<script language="javascript">
    var ladate=new Date()
    document.write(ladate.getFullYear())  
  
    </script> Open source licence "as is". See <a href="http://patent2netv2.vlab4u.info/dokuwiki/doku.php?id=about_p2n:disclaimer" target="_blank">disclaimer</a></p></H6>





<script>


  var loca_json = json_data;
  var table = new Tabulator("#example-table", {
      data: loca_json, //set initial table data
      height:"auto",
      layout:"fitColumns",
      movableRows:true,
      responsiveLayout:"hide",
      groupBy:"Action",
      groupStartOpen:false,
      tooltips:true,
      tooltipsHeader:true,
      pagination:"local",
      paginationSize:15,
      movableColumns:true,    
      columns:[
            {title:"Technical Problem Solving", field:"Action" , headerFilter:"input"},
            {title:"Abstract Number", field:"Abstract Number", headerFilter:"input"},
            {title:"Term", field:"Term", headerFilter:"input"},
            {title:"Abstract", field:"abstract", headerFilter:"input"},
            {title:"urlEspacenet", field:"urlEspacenet", formatter:"link", formatterParams:{label:"Click Here"}},
      ],
  });
          
          
          
  




</script>
</body>
</html>