<!DOCTYPE html>
<html>
    <head>
        <title>{{requete}}</title>
		<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../Patent2Net/media/Pivot/pivot.css">
		<script type="text/javascript" src="../../Patent2Net/media/Pivot/plotly-basic-v1.47.4.min.js"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/d3.v5.js"></script>
	<script type="text/javascript" src="../../Patent2Net/media/Pivot/c3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../Patent2Net/media/Pivot/c3.min.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../Patent2Net/media/Pivot/pivot.css">
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/jquery.csv.min.js"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/pivot.js"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/gchart_renderers.js"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/d3_renderers.js"></script>
	<script type="text/javascript" src="../../Patent2Net/media/Pivot/c3_renderers.js"></script>   
	<script type="text/javascript" src="../../Patent2Net/media/Pivot/plotly_renderers.js"></script> 
	<script type="text/javascript" src="../../Patent2Net/media/Pivot/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/export_renderers.js"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/pivot.fr.js"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/pivot.pt.js"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/pivot.es.js"></script>
    <script type="text/javascript" src="../../Patent2Net/media/Pivot/pivot.en.js"></script>
    <link rel="stylesheet" type="text/css" href="../../Patent2Net/media/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../Patent2Net/media/css/fancybox-thumbs.css">
    <link rel="stylesheet" type="text/css" href="../../Patent2Net/media/css/fancybox-buttons.css">
    <link rel="stylesheet" type="text/css" href="../../Patent2Net/media/css/fancybox.css">
    <link rel="stylesheet" type="text/css" href="../../Patent2Net/media/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../../Patent2Net/media/css/main.css">
  </head>
        <style>
           * {font-family: "raleway-regular",arial;}
            .node {
              border: solid 1px white;
              font: 10px sans-serif;
              line-height: 12px;
              overflow: hidden;
              position: absolute;
              text-indent: 2px;
            }
        </style>

    <body>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart", "charteditor"]});
           $(function(){
		var derivers = $.pivotUtilities.derivers;
        var lingua = (navigator.language || navigator.userLanguage).split("-")[0];        
        var renderers = $.extend(
		    $.pivotUtilities.locales[lingua].renderers,
			$.pivotUtilities.c3_renderers,
            $.pivotUtilities.d3_renderers,
			$.pivotUtilities.plotly_renderers,
            $.pivotUtilities.export_renderers
             );
        if (lingua == "pt") {
                            rendererName = "Bar Chart";
                            aggregatorName = "Contagem de Valores únicos";
                    } else if (lingua == "fr") {
                            rendererName = "Bar Chart";
                            aggregatorName = "Nombre de valeurs uniques";
                    }
                    else if (lingua == "es") {
                        var lingua="es",
                            rendererName = "Bar Chart";
                            aggregatorName = "Cuenta de valores únicos";
                    }

                    else {
                        aggregatorName = "Count Unique Values";
                        rendererName = "Bar	Chart"
                    }	 
        $.getJSON("{{fichier}}", function(mps) {
            $("#output").pivotUI(mps, {
                renderers: renderers,
                "derivedAttributes": {},
                "hiddenAttributes": [],
                "hiddenFromAggregators": [],
                "hiddenFromDragDrop": [],
                "menuLimit": 10000,
                "cols": ["year"],
                "rows": [],
                "vals": ["label"],
                "rowOrder": "key_a_to_z",
                "colOrder": "key_a_to_z",
                "exclusions": {},
                "inclusions": {},
                "unusedAttrsVertical": 150,
                "autoSortUnusedAttrs": true,
                "showUI": true,
                "sorters": {},
                "inclusionsInfo": {},
				"rendererName" : rendererName,
				"aggregatorName": aggregatorName 
            },false, lingua);
        });
     });
    </script>
		<header>
        <a href="../../index.html"><img class="logo" src="../../Patent2Net/media/img/logo_dark.png" alt=""/></a>
        <section><h1>Patent bibliographic data: </h1> "{{requete}}"</section></header>



        <div id="output" style="margin: 30px;"></div>
        <footer>
        <a href="https://github.com/nicolaskruchten/pivottable/wiki/UI-Tutorial">Support for the use of the interface</a>
        </br><a href="http://patent2netv2.vlab4u.info/dokuwiki/doku.php?id=page">Patent2net documentation</a>
</footer>

    </body>
</html>
