<div class="flex flex-row" layout-fill>
  <div layout="column" id="sidecol" class="bg-indigo-600">
    <div layout="column" flex class="upload-background p-4">
      <div
        class="bg-white shadow p-8"
        id="uploader"
        ng-paste="handlePaste()"
        ng-click="loadFile()"
        ng-class="dropClass"
        layout-fill
        layout
      >
        <div class="upload-area" layout="column" layout-align="center center">
          <div class="upload-text-main">
            {{loadingMessage=='' ? 'LOAD GRAPH' : loadingMessage}}
          </div>
          <div class="upload-text-sub">
            CLICK or DRAG A FILE
          </div>
        </div>
      </div>
    </div>

    <!-- This hidden input is used for loading the files via the dropdown of the nav tabs -->
    <input id="hidden-file-input" type="file" name="hidden-file-input" style="display: none;" onchange="angular.element(this).scope().setFile(this)"/>
  </div>
  
  <div class="flex flex-col container mx-auto p-8">
    <div class="flex-1">
      <h1 class="text-4xl font-bold leading-6">
        Graph Recipes
        <br>
        <span class="text-sm font-normal">...based on <a href="https://graphology.github.io/">Graphology</a></span>
      </h1>
      <p>
        Safely load your networks, they do not leave your computer.
        <br><br>
        Pick and edit a recipe, or copy-paste it from anywhere.
        <br><br>
        Enjoy the outcome: processed network, image, or anything javascript can produce.
        <br><br>
        
        <ul>
          <li ng-repeat="file in settings.files">
            <a href ng-click="loadExample(file.path)" class="text-indigo-600">{{file.name}}</a>
          </li>
        </ul>

        <div class="py-10">
          <easy-script data="easyscriptdata.sizes"></easy-script>
        </div>


      </p>
    </div>
    <p>
      <a href="http://www.medialab.sciences-po.fr/"><img src="{{settings.root}}/medialab.png"></a>
    </p>
  </div>
</div>
