# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AnacondaProjects\P2N-v3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
